<!-- <nav class="navbar navbar-expand-md navbar-default fixed-top border-0 rounded-0 app-nav">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
          <span class="fa fa-home"></span>
          HQ Lab UI
        </a>
  </div>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Dashboard</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">Explorer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Task</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Doc</a>
    </li>
  </ul>
</nav> -->
<div class="ui top attached menu">
  <a class="item" href="#"><i class="home icon"></i></a>
  <a class="item" href="#">Dashboard</a>
  <a class="item" href="#">Explorer</a>
  <a class="item" href="#">Task</a>
  <a class="item" href="#">Doc</a>
</div>
