#explorer-header {
  display: flex;
  justify-content: space-around;
  background-color: #798893;
  color: #c1cdd4;
  margin: 0px;
}

#explorer-header-text {
  display: flex;
  padding: 12px;
  /* font-size: 120%; */
  align-items: center; /* align vertical */
  justify-content: space-around;
}
