<!-- <div>
  <div class="item-row">
    <div>
      ID: {{task.id}}
    </div>
    <div>
      State: {{task.state}}
    </div>
    <div class="six wide column">
      Placeholder
    </div>
    <div>
      <button class="ui button">
        Submit
      </button>
    </div>
    <div>
      <button class="ui button">
        Delete
      </button>
    </div>
  </div>
  <div class="item-row">
    <div>
      Workdir: {{task.workdir}}
    </div>
    <div class>
      Description: {{task.desc}}
    </div>
  </div>
</div> -->




<!-- </clr-dg-row> -->
