<div class="ui padded grid">
  <div class="row">
    <div class="two wide column">
      ID: {{task.id}}
    </div>
    <div class="two wide column">
      State: {{task.state}}
    </div>
    <div class="six wide column">
      Placeholder
    </div>
    <div class="two wide column">
      <button class="ui labeled icon button">
        <i class="pause icon"></i>
        Submit
      </button>
    </div>
    <div class="two wide column">
      <button class="ui labeled icon button">
        <i class="pause icon"></i>
        Delete
      </button>
    </div>
  </div>
  <div class="row">
    <div class="six wide column">
      Description: {{task.desc}}
    </div>
  </div>
</div>
